body {
    background-color: #555;
    font-family: Sans-Serif;
}

td.red {
    background-color: #f00;
} 

td.yellow {
    background-color: #ff0;
} 

td.purple {
    background-color: #f0f;
} 

td.blue {
    background-color: #44f;
} 

td.prio1 {
    filter: sepia(0);
}

td.prio2 {
    filter: sepia(0.15);
}

td.prio3 {
    filter: sepia(0.3);
}

td.prio4 {
    filter: sepia(0.45);
}

td.ack {
    filter: sepia(0.6);
}

td.inv {
    background-color: inherit;
    border: 0px;
}

img.ack {
    visibility: hidden;
    padding: 0;
    margin: 0;
}

div.tests {
    display: inline-block;
    /* we want the test/checkmark combo to stay together but no line break at the end */
}

.col-sm {
    width: 18%;
    border: 1px solid gray;
    padding: 4px;
    margin: 1px;
    vertical-align: text-top;
}

.legend {
    min-height: 0px;
    border: none;
    padding-left: 7px;
}

.container {
    padding: 0;
}

.msg {
    padding: 2px;
    border-bottom: 1px solid rgba(180, 180, 180, 0.5);
}

.msg:last-child {
    border-bottom: 0px;
}

.msg > div > img {
    cursor: pointer;
}

span.info {
    font-weight: bold;
}

span.info, span.test {
    cursor: pointer;
}

span.acked {
    color: #777;
}

/* popup form CSS */
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#users-contain { width: 350px; margin: 20px 0; }
div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

@media screen and (max-width:720px) {
    table, td, tr {
        display: block;
    }
    td {
        width: 100%;
        border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
    }
    td.inv {
        display: none;
    }
    .col-sm {
        width: 100%;
    }
    .legend {
        display: none;
    }
}
