html {
    height: 100%;
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    /* text-shadow: rgba(0, 0, 0, .01) 0 0 1px; */
    /* text glow incl. smoothing */
    text-shadow: 0px 0px 0.04rem rgba(255, 255, 255, 0.25);
}

body {
    font-family: "Orbitron", "abelregular", "Ubuntu", "Rubik",  Sans-Serif;
    font-size: 0.9rem;
    color: #000;
    background: #000;
    background-image: url("../img/dust_scratches.png");
    /* background: linear-gradient(150deg, #00ff30 0%, black 50%); */
    /* background-image: url("../img/dust_scratches.png"), linear-gradient(90deg, #00ff30 0%, black 50%); */
    /* background-image: linear-gradient(90deg, rgba(0,255,0,0.5) 0%, rgba(0,0,0,0) 50%), url("../img/dust_scratches.png"); */
    /* background-blend-mode: hard-light; */
    /* background-image: linear-gradient(90deg, rgba(0,255,0,0.3) 0%, rgba(0,0,0,0) 60%), url("../img/dust_scratches.png"); */
}
span {
    /* mix-blend-mode: difference; */
}

td.red .msg {
    background-color: rgba(255,0,0,0.7);
}

td.yellow .msg {
    background-color: rgba(255,255,0,0.7);
}

td.purple .msg {
    background-color: rgba(255,0,255,0.7);
}

td.blue .msg {
    background-color: rgba(0,70,255,0.7);
}

#bg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    direction: ltr;
    overflow: hidden;
    position: absolute;
    z-index: -1000;
    background-blend-mode: soft-light;
}

.bg-red {
    /* background-image: linear-gradient(90deg, rgba(255,0,0,0.3) 0%, rgba(0,0,0,0) 60%), url("../img/dust_scratches.png"); */
    background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,0) 80%), linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,0) 40%), url("../img/dust_scratches.png");
}

.bg-yellow {
    /* background-image: linear-gradient(90deg, rgba(255,255,0,0.3) 0%, rgba(0,0,0,0) 60%), url("../img/dust_scratches.png"); */
    background-image: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(0,0,0,0) 80%), linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(0,0,0,0) 40%), url("../img/dust_scratches.png");
}

.bg-purple {
    /* background-image: linear-gradient(90deg, rgba(255,0,255,0.3) 0%, rgba(0,0,0,0) 60%), url("../img/dust_scratches.png"); */
    background-image: linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(0,0,0,0) 80%), linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(0,0,0,0) 40%), url("../img/dust_scratches.png");
}

.bg-blue {
    /* background-image: linear-gradient(90deg, rgba(0,70,255,0.3) 0%, rgba(0,0,0,0) 60%), url("../img/dust_scratches.png"); */
    background-image: linear-gradient(90deg, rgba(0,70,255,1) 0%, rgba(0,0,0,0) 80%), linear-gradient(90deg, rgba(0,70,255,1) 0%, rgba(0,0,0,0) 40%), url("../img/dust_scratches.png");
}

.bg-green {
    /* background-image: linear-gradient(90deg, rgba(0,255,0,0.3) 0%, rgba(0,0,0,0) 60%), url("../img/dust_scratches.png"); */
    background-image: linear-gradient(90deg, rgba(0,255,0,1) 0%, rgba(0,0,0,0) 80%), linear-gradient(90deg, rgba(0,255,0,1) 0%, rgba(0,0,0,0) 40%), url("../img/dust_scratches.png");
}

/*
td.prio1 {
    filter: sepia(0);
}

td.prio2 {
    filter: sepia(0.15);
}

td.prio3 {
    filter: sepia(0.3);
}

td.prio4 {
    filter: sepia(0.45);
}

td.ack {
    filter: sepia(0.6);
}
*/

td.inv {
    background-color: inherit;
    border: none;
}

i.ack {
    visibility: hidden;
    padding: 0;
    margin: 0;
}

div.tests {
    display: inline-block;
    /* we want the test/checkmark combo to stay together but no line break at the end */
}

.col-sm {
    width: 18%;
    border: none;
    padding: 2px;
    vertical-align: text-top;
}

.legend {
    min-height: 0px;
    border: none;
    padding-left: 7px;
    color: #fff;
}

.container {
    padding: 0;
}

.msg {
    padding: 2px;
    padding-left: 6px;
    margin: 4px;
    box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.5) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.1) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px
}

.msg:last-child {
}

.msg > div > .ack {
    cursor: pointer;
}

span.info {
    font-weight: bold;
}

span.info, span.test {
    cursor: pointer;
}

span.acked {
    color: #777;
}

/* popup form CSS */
label, input {
    display:block;
}

input.text {
    margin-bottom:12px; width:95%; padding: .4em;
}

fieldset {
    padding:0; border:0; margin-top:25px;
}

h1 {
    font-size: 1.2em; margin: .6em 0;
}

p#ackmsg-popup {
    font-weight: bold;
}

p#acktime-popup {
    font-style: italic;
}


@media screen and (max-width:720px) {
    table, td, tr {
        display: block;
    }
    td {
        width: 100%;
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td.inv {
        display: none;
    }
    .col-sm {
        width: 100%;
    }
    .legend {
        display: none;
    }
}
