html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0px 0px 0.04rem rgba(0, 0, 0, 0.25);
}

body {
    font-family: "Orbitron", "OpenSans", "Ubuntu", "Rubik",  Sans-Serif;
    font-size: 0.8rem;
    color: #000;
    background: #000;
}

td.red .msg {
    background-color: rgba(255,0,30,0.7);
}

td.yellow .msg {
    background-color: rgba(255,255,0,0.7);
}

td.purple .msg {
    background-color: rgba(255,0,255,0.7);
}

td.blue .msg {
    background-color: rgba(0,135,255,0.7);
}

td.green .msg {
    background-color: rgba(0,255,0,0.7);
}

.ptag {
    display: none;
    position: relative;
    top: 0.3em;
    line-height: 0;
    z-index: 5;
    padding-right: 0.5em;
    text-align: right;
    color: #d2d2d2;
    font-weight: bold;
    text-shadow: 0px 0px 0.04rem rgba(255, 255, 255, 0.6), 2px 2px 2px #000;
}

#bg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    direction: ltr;
    overflow: hidden;
    position: absolute;
    z-index: -1000;
    background-blend-mode: soft-light;
}

.bg-red {
    background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,0) 80%), linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(0,0,0,0) 40%), url("../img/dust_scratches.png");
}

.bg-yellow {
    background-image: linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(0,0,0,0) 80%), linear-gradient(90deg, rgba(255,255,0,1) 0%, rgba(0,0,0,0) 40%), url("../img/dust_scratches.png");
}

.bg-purple {
    background-image: linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(0,0,0,0) 80%), linear-gradient(90deg, rgba(255,0,255,1) 0%, rgba(0,0,0,0) 40%), url("../img/dust_scratches.png");
}

.bg-blue {
    background-image: linear-gradient(90deg, rgba(0,70,255,1) 0%, rgba(0,0,0,0) 80%), linear-gradient(90deg, rgba(0,70,255,1) 0%, rgba(0,0,0,0) 40%), url("../img/dust_scratches.png");
}

.bg-green {
    background-image: linear-gradient(90deg, rgba(0,255,0,1) 0%, rgba(0,0,0,0) 80%), linear-gradient(90deg, rgba(0,255,0,1) 0%, rgba(0,0,0,0) 40%), url("../img/dust_scratches.png");
}

td.inv {
    background-color: inherit;
    border: none;
}

td.remove {
    display: none;
}

i.ack {
    opacity: 0.07;
    padding: 0;
    margin: 0;
}

div.tests {
    display: inline-block;
    /* we want the test/checkmark combo to stay together but no line break at the end */
}

.col-sm {
    width: 18%;
    border: none;
    padding: 2px;
    vertical-align: text-top;
}

.legend {
    min-height: 0px;
    border: none;
    padding-left: 7px;
}

#container {
    padding: 0;
}

.msg {
    padding: 3px 5px;
    margin: 4px;
    box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.5) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.1) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    vertical-align: middle;
    line-height: 1;
}

.seen {
    filter: brightness(60%);
}

.msg > div > .ack {
    cursor: pointer;
}

span.info {
    font-weight: bold;
}

span.info, span.test {
    cursor: pointer;
}

i.ack {
    opacity: 0.07;
    margin-left: 2px;
}

i.ackall {
    margin-left: 7px;
    opacity: 0.2;
}

i.ack:hover {
    opacity: 1;
}

i.ack.acked {
    opacity: 0.5;
    color: #fff;
    text-shadow: 0px 0px 0.04rem rgba(255, 255, 255, 0.6);
}

i.ack.acked:hover {
    opacity: 1;
    color: #fff;
    text-shadow: 0px 0px 0.04rem rgba(255, 255, 255, 0.6);
}

div#flash {
    display: none;
    background: #f00;
    position:fixed;
    padding: 8px;
    top: 20%;
    left: 50%;
    width:20em;
    height:4em;
    text-align: center;
    margin-left: -10em; /*set to a negative number 1/2 of your width*/
    margin-top: -2em; /*set to a negative number 1/2 of your height*/
    border-radius: 8px;
    box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.5) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.1) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}

/* tooltip CSS */
.ui-tooltip {
    color: white;
    background: rgba(30, 30, 30, 0.9);
    margin-right: 8px;
    margin-left: 8px;
    max-width: 2000px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 5px 2px -5px rgba(255, 255, 255, 0.5) inset, 0px 10px 20px -5px rgba(255, 255, 255, 0.1) inset, 0 0px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 1px rgba(0, 0, 0, 0.12), 0 1px 10px 0 rgba(0, 0, 0, 0.3);
}

.ui-tooltip-content {
    font-family: "M-1m";
    font-size: 80%;
    white-space: pre-line;
}

span#disableOK {
    padding-left: 5px;
    line-height: 3.5em;
    font-size: 80%;
    color: #ccc;
}

/* popup form CSS */
label, input {
    display:block;
}

input.text {
    margin-bottom:12px;
    padding: .4em;
}

input#delay, input#ackalldelay {
    width: 2em;
}

span#period-button, span#ackallperiod-button, button#ackall-submit {
    width: 5em;
    height: 1em;
    margin-left: 8px;
}

form#ackall {
    position: fixed;
    bottom: 8px;
    background: rgba(210, 210, 210, 0.5);
    border-radius: 6px;
    margin-right: 8px;
}

form#ackall>fieldset {
    padding: 5px;
    border: 0;
    margin: 0;
}

form#ackall>fieldset>div.inline>div.inline {
    align-items: flex-end;
}

button#ackall-submit {
    height: 2em;
    width: 3em;
}

span#ackalltest-button {
    margin-left: 8px;
    margin-right: 8px;
    width: 6em;
}

input#ackallmessage {
    margin-bottom: 0px;
    margin-left: 8px;
}

input#ackalldelay {
    margin-bottom: 0px;
    margin-left: 8px;
}

span#period-button, span#ackallperiod-button {
    width: 3.5em;
    margin-right: 8px;
}

form#ackall>i {
    padding-left: 4px;
    padding-right: 4px;
}

div.inline {
    display: flex; /* 2. display flex to the rescue */
    flex-direction: row;
}

fieldset#df {
    padding: 0;
    border: 0;
    margin-top:25px;
}

h1 {
    font-size: 1.2em;
    margin: .6em;
    display: inline-block;
}

h1#t > a {
    color: #fff;
    text-decoration: none;
}

.text-white {
    color: #fff;
    text-shadow: 0px 0px 0.04rem rgba(255, 255, 255, 0.6);
}

h1.text-white {
    font-weight: normal;
    text-shadow: 0px 0px 0.1rem rgba(255, 255, 255, 0.9);
}

.setting-group {
	margin-top: 2em;
}

.setting-group h2 {
    font-size: 0.8rem;
    font-weight: normal;
}

.setting-group table {
    margin-left: 1.0em;
}

.setting-group td {
    min-width: 100px;
}

#container-buttons {
    float: right;
    display: inline-block;
}

#date {
    margin-right: 3px;
    text-align: right;
}

#content {
    padding-top: 1em;
}

#settings-container-header {
    margin-top: 8px;
    margin-right: 8px;
}

#close-settings {
    float: right;
}

#settings-container-pick, #settings-container-rest {
    margin: .6em;
}

#settings-panel {
    position: fixed;
    width: 360px;
    margin-right: -360px;
    top: 0;
    right: 0;
    height: 100%;
    overflow-y: auto;
    z-index: 10;
    background: rgba(30, 30, 30, 0.9);
    transition: all 0.4s cubic-bezier(.72,0,.2,1);
}

#settings-panel.active {
    right: 360px;
    overflow-x: hidden;
}

.btn {
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px 6px;
    border: none;
    border-radius: 3px;
    background: none;
    box-shadow: 1px 1px 2px -1px rgba(255, 255, 255, 0.06) inset, 4px 4px 8px -4px rgba(255, 255, 255, 0.03) inset, 1px 1px 4px rgba(0,0,0,0.4);
}

.btn:hover {
    box-shadow: 1px 1px 2px -1px rgba(255, 255, 255, 0.1) inset, 4px 4px 8px -4px rgba(255, 255, 255, 0.12) inset, 1px 1px 4px rgba(0,0,0,0.4);
}

form#searchform {
    display: none;
}

input#hostname {
    display: inline;
}

/* make it responsive */
@media screen and (max-width:720px) {
    table#container td {
        display: block;
    }

    table#container td.inv {
        display: none;
    }

    td.col-sm {
        width: 100%;
        max-width: 100%;
    }

    .legend {
        display: none;
    }

    .ui-tooltip {
        max-width: 100%;
    }

    .ptag {
        display: block;
    }

    form#ackall>fieldset>div.inline {
        display: block;
    }
    form#ackall>fieldset>div.inline>div.inline {
        padding-bottom: 4px;
    }
}
