# location of xymon executable in your file system
XYMONCLI="/usr/lib/xymon/server/bin/xymon"

# location of ackinfo.sh executable in your file system
XYMONACKINFOSH="/usr/lib/xymon/cgi-secure/ackinfo.sh"

# absolute URL of Xymon's svcstatus
XYMONSVCSTATUSURL="https://xymon.phys.ethz.ch/xymon-cgi/svcstatus"

# location of Xymon's critical.cfg in your file system (if you have one)
CRITICAL="/etc/xymon/critical.cfg"

# relative URL of svcstatus.sh on your monitoring server
XYMONURL="/xymon-cgi/svcstatus.sh"

# relative URL of xymon-ack on your monitoring server
XYMONACKURL="/xymondash/cgi/xymon-ack"

# relative URL of xymon-disable on your monitoring server
XYMONDISURL="/xymondash/cgi/xymon-disable"

# relative URL of xymon2json on your monitoring server
XYMONJSONURL="/xymondash/cgi/xymon2json"

# host name of xymon server
XYMONSERVER="xymonserver"

# website title
TITLE="ISG D-PHYS xymon dashboard"

# xymon homepage
TITLELINK="/xymon/xymon.html"

# path to python3 interpreter
PYTHON3="/usr/bin/env python3"

# exclude tests for example when you have combo tests and want to exclude the underlying tests
EXCLUDE_TESTS=""
